<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
    <head th:replace="fragments/head"/>
</head>
<body>

<div class="container">
    <div th:replace="fragments/header"></div>
    <div th:replace="fragments/nav"></div>

</div>
    <div class="container">
        <h1>Поиск</h1>
    </div>
<div class="container mb-4">
    <div th:replace="fragments/searchForm"></div>


    <h3>Результат</h3>
    <div th:each="product : ${search_product}">
        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <hr>
    </div>


</div>
<div th:replace="fragments/footer"></div>
</body>
</html>